

body{
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(/img/earthh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-family: Roboto, Arial;
  font-weight: bold;
}

.welcome{
  color:white;
  text-align: center;
  font-size:60px;
  margin-left:20px;
}

.general{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.name,.info,.contact{
  opacity: 0;
  padding-bottom:50px;
}

.name:hover,.info:hover,.contact:hover{
  opacity: 1;
  color:rgb(56, 56, 56);
}

.tt{
  color:white;
  margin:0;
  padding-top:30px;
}

.home{
  background-color: lightblue;
}